In [1]:
# The code was removed by Watson Studio for sharing.

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [22]:
#4 groups
#x and y both are discrete
#so-> Chi sq test
#prepare data
dum = pd.get_dummies(df_data['Phillippines'], prefix = 'phil')
data = pd.DataFrame(dum)
dum = pd.get_dummies(df_data['Indonesia'], prefix = 'indo')
data = data.merge(dum, left_index = True, right_index = True)
dum = pd.get_dummies(df_data['Malta'], prefix = 'malta')
data = data.merge(dum, left_index = True, right_index = True)
dum = pd.get_dummies(df_data['India'], prefix = 'india')
data = data.merge(dum, left_index = True, right_index = True)
data.head()

,phil_Defective,phil_Error Free,indo_Defective,indo_Error Free,malta_Defective,malta_Error Free,india_Defective,india_Error Free
0,0,1,0,1,1,0,0,1
1,0,1,0,1,0,1,1,0
2,0,1,1,0,1,0,0,1
3,0,1,0,1,0,1,0,1
4,0,1,0,1,1,0,0,1

In [60]:
cross = pd.crosstab(data['phil_Defective'], data['phil_Error Free'])
cross
cross1 = pd.crosstab(data['indo_Defective'], data['indo_Error Free'])
cross1
cross2 = pd.crosstab(data['malta_Defective'], data['malta_Error Free'])
cross2
cross3 = pd.crosstab(data['india_Defective'], data['india_Error Free'])
cross3

india_Error Free   0    1
india_Defective
0                  0  280
1                 20    0

In [74]:
import numpy as np
#create frequency table as required for chi sq test
val1 = data.phil_Defective[data['phil_Defective'] == 1].count()
val2 = data.phil_Defective[data['indo_Defective'] == 1].count()
val3 = data.phil_Defective[data['malta_Defective'] == 1].count()
val4 = data.phil_Defective[data['india_Defective'] == 1].count()
table = pd.DataFrame(columns = ['phil', 'indo', 'malda', 'india'], data = [[val1, val2, val3, val4], [300-val1, 300-val2, 300-val3, 300-val4]])
table.head()

   phil  indo  malda  india
0    29    33     31     20
1   271   267    269    280

In [75]:
#chi sq test
from scipy import stats
Chisquares_results=stats.chi2_contingency(table)
Chisquares_results[1] #p-value > 0.05
#soo 95% confident that null hypothesis holds ie-> % defective is NOT related to the regions

0.2771020991233135

In [71]:
Chisquares_results

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[ 28.25,  28.25,  28.25,  28.25],
        [271.75, 271.75, 271.75, 271.75]]))