In [1]:
# The code was removed by Watson Studio for sharing.

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [34]:
#x= continuous(TAT values of labs)
#y=discrete (similar or not)
#More than 2 groups compare -> one way ANOVA
#Stacking groups into one column
lab = pd.DataFrame(pd.melt(df_data, value_vars=['Laboratory 1','Laboratory 2','Laboratory 3', 'Laboratory 4']))
lab.head()

       variable   value
0  Laboratory 1  185.35
1  Laboratory 1  170.49
2  Laboratory 1  192.77
3  Laboratory 1  177.33
4  Laboratory 1  193.41

In [39]:
#lab[lab['variable'] == 'Laboratory 2'].head(10) #checkingvalue correction
lab = lab.replace('Laboratory 1', 1)
lab = lab.replace('Laboratory 2', 2)
lab = lab.replace('Laboratory 3', 3)
lab = lab.replace('Laboratory 4', 4)
lab.tail(8)

     variable   value
472         4  160.98
473         4  192.23
474         4  139.34
475         4  172.68
476         4  177.64
477         4  170.27
478         4  150.87
479         4  162.21

In [41]:
lab[lab['variable']== 2]

     variable   value
120         2  165.53
121         2  185.91
122         2  194.92
123         2  183.00
124         2  169.57
125         2  197.00
126         2  166.36
127         2  169.60
128         2  175.36
129         2  198.68
130         2  189.12
131         2  140.55
132         2  160.44
133         2  167.03
134         2  182.67
135         2  155.73
136         2  183.07
137         2  177.70
138         2  191.62
139         2  186.85
140         2  161.09
141         2  173.01
142         2  199.43
143         2  185.67
144         2  182.69
145         2  180.45
146         2  182.37
147         2  189.99
148         2  167.55
149         2  190.09
..        ...     ...
210         2  191.89
211         2  180.53
212         2  165.45
213         2  168.80
214         2  159.92
215         2  188.49
216         2  205.27
217         2  185.63
218         2  197.38
219         2  186.71
220         2  194.81
221         2  198.09
222         2  164.07
223         2  170.48
224         2  184.86
225         2  189.11
226         2  179.68
227         2  142.38
228         2  167.72
229         2  199.90
230         2  174.43
231         2  168.20
232         2  195.07
233         2  193.79
234         2  175.16
235         2  170.66
236         2  183.98
237         2  174.54
238         2  197.18
239         2  215.17

[120 rows x 2 columns]

In [46]:
#Step1 -> check normality
#H0 -> normal, H1-> not normal
import scipy 
from scipy import stats
#shapito test
#stats.shapiro(lab['value']) #p value = second value
#p>0.05, accept null hypothesis

stats.shapiro(df_data['Laboratory 1'])
stats.shapiro(df_data['Laboratory 2'])
stats.shapiro(df_data['Laboratory 3'])
stats.shapiro(df_data['Laboratory 4'])
#all are normal

(0.9913753271102905, 0.6618951559066772)

In [62]:
#Step2 -> check equality of variance
#H0 -> equal variances, H1 -> not equal
#scipy.stats.levene(lab.variable, lab.value) #No strings are allowed
#p>>0.05, test statistics >> 100 
#accept null hypothesis

scipy.stats.levene(df_data['Laboratory 1'], df_data['Laboratory 2']) #0.06 -> equal
scipy.stats.levene(df_data['Laboratory 1'], df_data['Laboratory 3']) #0.006 ->not equal
scipy.stats.levene(df_data['Laboratory 1'], df_data['Laboratory 4']) #0.22 -> equal
scipy.stats.levene(df_data['Laboratory 2'], df_data['Laboratory 3']) #0.33 -> equal
scipy.stats.levene(df_data['Laboratory 2'], df_data['Laboratory 4']) #0.59 -> equal
scipy.stats.levene(df_data['Laboratory 3'], df_data['Laboratory 4']) #0.15 -> equal

LeveneResult(statistic=7.547664894290509, pvalue=0.006468575869839467)

In [59]:
#Step3 -> ANOVA test
#H0 = same, H1 = different
import statsmodels.api as sm
from statsmodels.formula.api import ols
anov=ols('value~variable',data=lab).fit()
anov_table=sm.stats.anova_lm(anov,type=2) #type1 = sequential, type2 = different orders (for no interaction case)
print(anov_table) #p< 0.05 -> accept alternate hypothesis
#different labs

             df         sum_sq      mean_sq         F    PR(>F)
variable    1.0    3181.226108  3181.226108  8.277654  0.004193
Residual  478.0  183702.549884   384.314958       NaN       NaN